<!DOCTYPE html>
<html>
<head>
    <title>How to upload files using HTML to website?</title>
</head>
  
<body>
    {% load static %}

 
    
    <h1>Hello</h1>
    {% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Step 1: upload your file</h2>
        <input type="file" name="myfile">
        
        <h2>Step 2: choose the number of teams</h2>
        <input type="number" name="nbEquipes">

        <h2>Step 3: submit and compute</h2>
        <button type="submit">Upload</button>


    </form>

    {% if uploaded_file_url %}
        <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
    {% endif %}

    <h2>Step 4: download result</h2>

    {% endblock %}
  

</body>
</html>